body {
  background: #34495e;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  margin: 10px auto;
  width: 60vw;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

ul {
  background: #ecf0f1;
  list-style-type: none;
  padding: 10px;
}

li {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px #bdc3c7;
  margin: 10px 0;
  padding: 20px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

span {
  display: block;
}

strong {
  font-size: 0.8rem;
}

time {
  color: #7f8c8d;
  font-size: 0.8rem;
}

.message-footer {
  display: flex;
  justify-content: flex-end;
}

button {
  background: #3498db;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
}

button:hover {
  background: #207bb8;
}

button.delete {
  background: #e74c3c;
  box-shadow: 1px 2px 0 0 #c0392b;
}

button.delete:hover {
  background: #cf2a19;
}
